// INFO
.info {

  > * + * {
    margin-top: 2rem;
  }

  &__item {
    &__title {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 4rem;
      font-weight: bold;
      text-transform: lowercase;
    }

    &__description {
      flex-basis: 50%;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
}

.map {
  position: relative;
}

@media (max-width: 900px) {
  .info__item {
    &__title {
      font-size: 3rem;
    }

    &__description {
      font-size: 1rem;
    }
  }
}

@media (max-width: 625px) {
  .info__item {
    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
