// INFO LIST
.section--info {
  width: 100%;
  padding: 0;

}

.info-list {
  // box-shadow:  10px 10px 10px #000;
  position: relative;
  top: -22px;
  display: flex;
  flex-wrap: wrap;
transform: skew(0, 2deg);
  background: linear-gradient(-45deg, $c-orange, $c-pink);
  color: #fefefe;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 25%;
    padding: 2rem;
    text-align: center;

    > p {
      margin-bottom: 0;
    }
  }
}

.list-icon {
  font-size: 3rem;
}

@media (max-width: 750px) {
  .info-list__item {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .info-list__item {
    width: 100%;
  }
}
