.player { // player is 80px tall w/o tracklist
  position: fixed;
  bottom: -220px;
  left: 0;
  width: 100%;
  height: 300px;
  transition: transform 400ms ease;
  z-index: 101;

  &__button {
    position: absolute;
    top: 0;
    right: 50%;
    padding: 7.5px 7.5px 15px;
    transform: translateX(50%);
    border: 0;
    background: $t-clear;
    color: $c-white;
    font-size: 0.75rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 102;

    &:focus {
      outline: none;
    }
  }

  &__widget {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 625px) {
  .player__button {
    display: flex;
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
    transform: translate(0);
    background: $c-black;
  }

  .fa {
    margin-left: 0.5rem;
  }
}
