// Top Nav
.section--top-nav {
  width: 100%;
  margin-bottom: 4rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__right {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: lowercase;

    > * {
      padding: 2.5px;
    }

    > * + * {
      margin-left: 1rem;
    }
  }
}

.logo {
  max-width: 25rem;
}

.selected {
  border-bottom: 4px solid rgba(221, 67, 37, 1);
}
