// Top Nav
.section--top-nav {
  width: 100%;
  margin-bottom: 2rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__right {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: lowercase;
  }
}

// Top Nav Components
.logo {
  width: 25rem;
}

.selected {
  border-bottom: 4px solid $c-orange;
}


@media (max-width: 900px) {
  .logo {
    max-width: 17.5rem;
  }
}

@media (max-width: 625px) {
  .logo {
    max-width: 10rem;
  }
}
