// Variables
$c-black: #222;
$c-white: #fefefe;
$c-orange: #dd4224;
$c-blue: #002f4b;

// Transparencies
$t-orange: rgba(221, 66, 36, 0.35);
$t-blue: rgba(0, 47, 75, 0.5);
$t-black: rgba(0, 0, 0, 0.75);

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import 'top-nav';
@import 'hero';
@import 'info';

.wrapper {
  width: calc(100 - 4rem);
  margin: 2rem;
  padding: 2rem;
  background: $c-white;
}



// Grid
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -1rem;

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 2rem);
    flex-grow: 1;
    height: 22.5rem;
    margin: 1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
}

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem;
  // background: $t-black;
  // background: linear-gradient(to bottom right, $t-blue, $t-orange);
  background: $c-black;
  color: $c-white;

  > p {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: lowercase;
  }
}

.bg-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(to top left, $t-blue, $t-orange);
}
